{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}
<!-- Botón agegar nuevo servicio.  -->
<br>
<button class="cssbuttons-io-button" type="button" data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvas" aria-controls="offcanvas"><i class="fa-solid fa-screwdriver-wrench" style="color: #ffffff;"></i>+ Agregar Servicio
    <div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
    </div>
</button>
<section class="proveedores y filt">
    <!-- Contenido de off canvas  -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel"
        style="background-image: url(https://img.freepik.com/vector-gratis/fondo-memphis-semitono-azul-lineas-amarillas-formas-circulos_1017-31954.jpg?w=1380&t=st=1687029132~exp=1687029732~hmac=83937288de881d23b131b303de48306fcac11c20bea9a6e36d4a6df1fca014fd);">

        <div class="offcanvas-body">

            <div class="offcanvas-header">
                <h3 class="offcanvas-title" style="color: rgb(255, 255, 255);"><i class="fa-solid fa-screwdriver-wrench"
                        style="color: #ffffff;"></i> Datos Servicio</h3>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="mb-3" size="20">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                    <div class="valid-feedback">
                        ¡Dato Valido!
                    </div>
                    <div class="invalid-feedback">
                        Por favor, elije un teléfono para el proveedor.
                    </div>
                    <label for="floatingInput" for="validationCustom01" class="form-label">Nombre servicio</label>
                </div>
                <div class="mb-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Categoria</option>
                        <option value="1">Mantenimiento</option>
                        <option value="2">Restauración</option>
                        <option value="3">Limpieza</option>
                        <option value="4">Ensamble</option>
                    </select>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                    <div class="valid-feedback">
                        ¡Dato Valido!
                    </div>
                    <div class="invalid-feedback">
                        Por favor, elije un teléfono para el proveedor.
                    </div>
                    <label for="floatingInput" for="validationCustom01" class="form-label">Pago Servicio Eje:
                        50.000</label>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" style="color: white;">Descripción del servicio</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <center>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Enviar formulario</button>
                </div>
            </center>
        </div>

    </div>
    <!-- Contenido de off canvas, end.  -->
    </div>
</section>
<!-- Tabla.  -->
<script>
    $(document).ready(function() {
        var table = $('#example').DataTable( {
            lengthChange: false,
            buttons: {
                buttons: [
                    {
                        extend: 'copy',
                        text: '<i class="bi bi-clipboard-check-fill"></i>',
                        titleAttr: 'Copiar',
                        className: 'btn btn-info'
                    },
                    {
                        extend: 'excel',
                        text: '<i class="bi bi-file-earmark-excel"></i>',
                        titleAttr: 'Descargar Excel',
                        className: 'btn btn-success'
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="bi bi-file-earmark-pdf"></i>',
                        titleAttr: 'Exportar como PDF',
                        className: 'btn btn-danger'
                    },
                    {
                        extend: 'print',
                        text: '<i class="bi bi-printer"></i>',
                        titleAttr: 'Imprimir documento',
                        className: 'btn btn-light'
                    },
                    {
                        extend: 'colvis',
                        text: '<i class="bi bi-funnel"></i> Filtrar',
                        titleAttr: 'Filtrar datos requeridos',
                        className: 'btn btn-warning'
                    },
                ]
            }
        } );
    
        table.buttons().container()
            .appendTo( '#example_wrapper .col-md-6:eq(0) ' );
    } );
</script>
<body>
    <br>
    <div class="container">
        <table   id="example" class="table table-striped" style="width:100%">
            <thead style="background-color: #dda24e; opacity: 90%;">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody style="opacity: 80%;" class="table table-striped table-hover table-dark">
                <tr>
                    <td>003</td>
                    <td>Lavado Especializado</td>
                    <td>Lavado juego de sala maximo 7 piezas, con productos quimicos de alta calidad.</td>
                    <td>$50.000</td>
                    <td>
                        <div class="form-check form-switch p-0">
                            <div class="d-flex flex-column gap-1">
                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                    id="switchCheckLabelBottom" style="align-self: center;" />
                                <label class="form-check-label" for="switchCheckLabelBottom"
                                    style="text-align: center; color: #90adca;">Activado</label>
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;"><button type="button"
                            class="btn btn-outline-success" data-bs-toggle="modal"
                            data-bs-target="#edit_detall_compra"><i
                                class="fa-regular fa-pen-to-square"
                                style="color: #50ce69;"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js" type="text/Javascript"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" type="text/Javascript"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js" type="text/Javascript"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js" type="text/Javascript"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js" type="text/Javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" type="text/Javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" type="text/Javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" type="text/Javascript"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js" type="text/Javascript"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js" type="text/Javascript"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js" type="text/Javascript"></script>
</body>
<!-- Botón Editar Servicio.  -->
<div class="modal fade modal fade-sm" id="edit_detall_compra" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(222, 139, 19);"><i
                        class="fa-solid fa-screwdriver-wrench" style="color: #de8b13;"></i> Modificar Información
                    Servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"
                style="background-image: url(https://img.freepik.com/vector-gratis/fondo-memphis-semitono-azul-lineas-amarillas-formas-circulos_1017-31954.jpg?w=1380&t=st=1687029132~exp=1687029732~hmac=83937288de881d23b131b303de48306fcac11c20bea9a6e36d4a6df1fca014fd);">
                <div class="mb-3" size="20">
                    <div class="mb-3" size="20">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                                required>
                            <div class="valid-feedback">
                                ¡Dato Valido!
                            </div>
                            <div class="invalid-feedback">
                                Por favor, elije un teléfono para el proveedor.
                            </div>
                            <label for="floatingInput" for="validationCustom01" class="form-label">Nombre
                                servicio</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                                required>
                            <div class="valid-feedback">
                                ¡Dato Valido!
                            </div>
                            <div class="invalid-feedback">
                                Por favor, elije un teléfono para el proveedor.
                            </div>
                            <label for="floatingInput" for="validationCustom01" class="form-label">Precio Servicio Eje:
                                50.000</label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1" style="color: white;">Descripción del
                                servicio</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary"
                    style="background-color: rgb(222, 139, 19); border: #de8b13;">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- Botón Descripción Servicio.  -->
<div class="modal fade modal fade-sm" id="detalle_servicios" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(222, 139, 19);"><i
                        class="fa-solid fa-circle-exclamation" style="color: #de8b13;"></i> Descripción servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"
                style="background-image: url(https://img.freepik.com/vector-gratis/fondo-memphis-semitono-azul-lineas-amarillas-formas-circulos_1017-31954.jpg?w=1380&t=st=1687029132~exp=1687029732~hmac=83937288de881d23b131b303de48306fcac11c20bea9a6e36d4a6df1fca014fd);">
                <div class="alert alert-warning" role="alert">
                    Relleno y acolchado:<br><br>
                    Se agrega el relleno adecuado para darle comodidad y forma al mueble.
                    Dependiendo del diseño y el estilo deseado, se pueden utilizar diferentes capas de relleno, como
                    espuma, algodón, plumas o fibra sintética.
                    Se utilizan técnicas de acolchado para crear diseños y formas específicas en el mueble, como
                    capstone o costuras decorativas.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}