{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}
  <br>
  <button class="cssbuttons-io-button" id="boton_agregar" type="button" data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvas" aria-controls="offcanvas"><i class="fa-solid fa-house-user" style="color: #ffffff;"></i>+ Agregar Usuario
    <div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
    </div>
  </button>

  <section class="tablaProveedores" class="containes">
  <div class="row">
    <div class="col">
        <div class="table-responsive">
            <table id="table_id" class="display">
                <font></font>
                <thead style="background-color: rgba(6, 48, 82, 0.678); color: rgb(255, 255, 255);">
                    <font></font>
                    <tr>
                        <font></font>
                        <th>Nombre</th>
                        <font></font>
                        <th>Cedula</th>
                        <font></font>
                        <th>Tipo de Documento</th>
                        <font></font>
                        <th>Numero de Documento</th>
                        <font></font>
                        <th>Telefono</th>
                        <font></font>
                        <th>Dirección</th>
                        <font></font>
                        <th>Correo Electronico</th>
                        <font></font>
                        <th>Editar</th>
                        <font></font>
                        <th>Estado</th>
                        <font></font>
                      </tr>
                    <font></font>
                </thead>
                <font></font>
                <tbody style="background-color: rgb(255, 255, 255); opacity: 80%;">
                    <font></font>
                    <tr>
                        <font></font>
                        <td>Jose</td>
                        <font></font>
                        <td>Gamez</td>
                        <font></font>
                        <td>Cedula</td>
                        <font></font>
                        <td>1022392339</td>
                        <font></font>
                        <td>3188060475</td>
                        <font></font>
                        <td>Call 2 b # 41-30</td>
                        <font></font>
                        <td>jgamez632@gmail.com</td>
                        <font></font>
                        <td>
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                data-bs-target="#edit_detall_compra"><i class="fa-solid fa-pen-to-square"
                                    style="color: green;"></i></button>
                        <td>
                            <!-- Checked switch -->
                            <div class="form-check form-check-inline form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckChecked" checked />
                                <label class="form-check-label" for="flexSwitchCheckChecked">Activo</label>
                            </div>
                        </td>
                        <font></font>
                    </tr>
                    <font></font>
                </tbody>
                <font></font>
            </table>
            <font></font>
        </div>
    </div>
  </div>
  </div>
  </section>
{% endblock contenido %}