<!-- aquí empieza el footer-->

    <footer>
        <footer class="text-center text-white" style="background-image: url(https://img.freepik.com/vector-gratis/fondo-blanco-minimo-hexagonos_79603-1452.jpg?w=1380&t=st=1687031635~exp=1687032235~hmac=b6edce497094422b856cdb7557bebe7d81f867068ee451ccbd9e7f3f9631595b);">
          <!-- Grid container -->
          <div class="container p-4">
            <!-- Section: Images -->
            <section class="">
              <h3 style="color: rgb(6, 48, 82); font: size 20px;;">Nuestros Productos Insignias</h3>
              <div class="row">
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                  >
                    <img
                      src="https://img.freepik.com/foto-gratis/hermoso-concepto-diseno-habitacion-interior_23-2148786485.jpg?w=1380&t=st=1687034984~exp=1687035584~hmac=8679932c22fbac9f60b27166c75be9bfb9838e01f66d4d72a3abaaecee58662f"
                      class="w-100"
                    />
                    <a href="#!">
                      <div
                        class="mask"
                        style="background-color: rgba(251, 251, 251, 0.2);"
                      ></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                  >
                    <img
                      src="https://img.freepik.com/foto-gratis/comedor-moderno-3d-sala-estar-decoracion-lujo_105762-2170.jpg?w=1380&t=st=1687035049~exp=1687035649~hmac=f9a0ad1d85e53e603e53d2f8fe0404c3f290109b010ff8c6e1859136f1b85b89"
                      class="w-100"
                    />
                    <a href="#!">
                      <div
                        class="mask"
                        style="background-color: rgba(251, 251, 251, 0.2);"
                      ></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                  >
                    <img
                      src="https://img.freepik.com/foto-gratis/hermosa-vista-dormitorio-moderno-colores-blancos_181624-59963.jpg?w=1380&t=st=1687035089~exp=1687035689~hmac=9b2cb01d729b5f48ac7f3f56f75a44e230261ef30d987541c8c1204acb875e97"
                      class="w-100"
                    />
                    <a href="#!">
                      <div
                        class="mask"
                        style="background-color: rgba(251, 251, 251, 0.2);"
                      ></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                  >
                    <img
                      src="https://img.freepik.com/psd-gratis/habitacion-infantil-cama-madera_176382-1324.jpg?w=1380&t=st=1687035123~exp=1687035723~hmac=5753664d34fe9751bdd0d8c11d8587fa177723c5a6e7869d664189f4f4f3dd41"
                      class="w-100"
                    />
                    <a href="#!">
                      <div
                        class="mask"
                        style="background-color: rgba(251, 251, 251, 0.2);"
                      ></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                  >
                    <img
                      src="https://img.freepik.com/foto-gratis/sala-estar-contemporanea-alfombra-azul_53876-128148.jpg?w=1380&t=st=1687035619~exp=1687036219~hmac=a72255aaced0cf626b7b3fd0380b41cb55a8c1159d041d4b2616fb462e4e34f5"
                      class="w-100"
                    />
                    <a href="#!">
                      <div
                        class="mask"
                        style="background-color: rgba(251, 251, 251, 0.2);"
                      ></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                  >
                    <img
                      src="https://img.freepik.com/foto-gratis/diseno-interiores-sala-estar-moderna-mediados-siglo-arbol-monstera_53876-129803.jpg?w=1380&t=st=1687035537~exp=1687036137~hmac=da1228a9a452f3cfa557154f419786926c3946815a8fc8125793e94d271f37fc"
                      class="w-100"
                    />
                    <a href="#!">
                      <div
                        class="mask"
                        style="background-color: rgba(251, 251, 251, 0.2);"
                      ></div>
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <!-- Section: Images -->
          </div>
          <!-- Grid container -->
        
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);" >
            © ADSO SENA 2023:
            <a class="text-white" href="mailto:jose.gamez@soy.sena.edu.co" >Click Para Soporte Pagina WEB</a>
          </div>
          <!-- Copyright -->
        </footer>
      </footer>
<!-- aquí termina el footer-->